/*
Material Dark Style Sheet for QT Applications
Author: Roberto Gallotta
Original Author: Jaime A. Quiroga P.
Inspired by https://github.com/jxfwinter/qt-material-stylesheet
Company: GTRONICK
Last updated: 04/12/2018, 15:00.
Available at: https://github.com/GTRONICK/QSS/blob/master/MaterialDark.qss
*/

QApplication {
    background-color: #000831;
    color: #FFFFFF;
}

QMainWindow {
    background-color: #000831;
}

QGraphicsView {
    background-color: #000831;
}


QDialog {
    background-color: #000831;
}

QWidget[conversation="yes"] {
    background-color: #000831;
}

QWidget[attacks_grid="yes"] {
    background-color: #000831;
}

QLabel {
    background-color: #000831;
    color: #FFFFFF;
}

QLabel[messageType="me"] {
    background-color: #f5f5b8;
    border: 1px solid #fa2b00;
    color: #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 5px 2px 50px;
    qproperty-alignment: AlignRight;
}

QLabel[messageType="them"] {
    background-color: #abf5ed;
    border: 1px solid #fa2b00;
    color: #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 50px 2px 5px;
}

QLabel[messageType="placeholder"] {
    color: #5c5c5c;
    font-style: italic;
    margin: 2px 5px 2px 5px;
}

QColorDialog {
    background-color: #000831;
}

QProgressBar {
    text-align: center;
    color: #000831;
    border-width: 1px;
    border-radius: 10px;
    border-color: #FFFFFF;
    border-style: inset;
    background-color: #4d4958;
}

QProgressBar::chunk {
    background-color: #00d973;
    border-radius: 5px;
}

QTextEdit {
    background-color: #000831;
    color: #FFFFFF;
}

QGroupBox {
    color: #FFFFFF;
}

QScrollArea {
    border: transparent;
}

QToolTip {
   background-color: #000831;
   color: #FFFFFF;
   border: #fa2b00 solid 1px;
}

QPlainTextEdit {
    background-color: #000831;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-width: 1px;
    color: #FFFFFF;
}

QPushButton {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-width: 1px;
    border-style: solid;
    color: #FFFFFF;
    padding: 2px;
    background-color: #000831;
}

QPushButton::default {
    border-style: inset;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #00d973;
    border-width: 1px;
    color: #FFFFFF;
    padding: 2px;
    background-color: #000831;
}

QPushButton:hover {
    border-style: solid;
    border-top-color: #37efba;
    border-right-color: #37efba;
    border-left-color: #37efba;
    border-bottom-color: #37efba;
    border-bottom-width: 1px;
    border-style: solid;
    color: #FFFFFF;
    padding-bottom: 2px;
    background-color: #000831;
}

QPushButton:pressed {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #37efba;
    border-bottom-width: 2px;
    border-style: solid;
    color: #37efba;
    padding-bottom: 1px;
    background-color: #000831;
}

QPushButton:disabled {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #808086;
    border-bottom-width: 2px;
    border-style: solid;
    color: #808086;
    padding-bottom: 1px;
    background-color: #000831;
}

QLineEdit {
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(58, 58, 58);
    border-style: inset;
    padding: 0 8px;
    color: #FFFFFF;
    background: #000831;
}

QLabel {
    color: #FFFFFF;
}

QMenuBar {
    background-color: #000831;
}

QMenuBar::item {
    color: #FFFFFF;
    padding: 1px 4px;
    background: #000831;
}

QMenuBar::item:selected {
    background: #000831;
    color: #FFFFFF;
}

QMenu::item:selected {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #00d973;
    border-bottom-color: transparent;
    border-left-width: 2px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
    background-color: #000831;
}

QMenu::item {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    border-style: solid;
    color: #FFFFFF;
    padding-left: 17px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
    background-color: #000831;
}

QMenu {
    background-color: #000831;
}

QCheckBox {
    color: #FFFFFF;
    padding: 2px;
}

QCheckBox:disabled {
    color: #808086;
    padding: 2px;
}

QCheckBox:hover {
    border-radius: 4px;
    border-style: solid;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-width: 1px;
    border-color: rgb(87, 97, 106);
    background-color: #000831;
}

QCheckBox::indicator:checked {

    height: 10px;
    width: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00d973;
    color: #FFFFFF;
    background-color: #00d973;
}

QCheckBox::indicator:unchecked {

    height: 10px;
    width: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #00d973;
    color: #FFFFFF;
    background-color: transparent;
}

QStatusBar {
    color: #027f7f;
}

QSpinBox {
    color: #FFFFFF;
    background-color: #000831;
}

QDoubleSpinBox {
    color: #FFFFFF;
    background-color: #000831;
}

QComboBox {
    color: #FFFFFF;
    background: #000831;
}

QComboBox:editable {
    background: #000831;
    color: #FFFFFF;
}

QComboBox QAbstractItemView {
    color: #FFFFFF;
    background: #000831;
}

QScrollBar:horizontal {
	max-height: 20px;
	border: 1px transparent #4d4958;
	margin: 0px 20px 0px 20px;
}
QScrollBar:vertical {
	max-width: 20px;
	border: 1px transparent #4d4958;
	margin: 20px 0px 20px 0px;
}
QScrollBar::handle:horizontal {
	background: #656568;
	border-style: solid;
	border-width: 1px;
	border-color: #000831;
	border-radius: 2px;
	min-width: 25px;
}
QScrollBar::handle:horizontal:hover {
	background: #656568;
	border-style: solid;
	border-width: 1px;
	border-color: #000831;
	border-radius: 2px;
	min-width: 25px;
}
QScrollBar::handle:vertical {
	background: #656568;
	border-style: solid;
	border-width: 1px;
	border-color: #000831;
	border-radius: 2px;
	min-height: 25px;
}
QScrollBar::handle:vertical:hover {
	background: #656568;
	border-style: solid;
	border-width: 1px;
	border-color: #000831;
	border-radius: 2px;
	min-height: 25px;
}

QScrollBar::add-line:horizontal {
   border: 2px transparent #656568;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #000831;
   width: 20px;
   subcontrol-position: right;
   subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:pressed {
   border: 2px transparent #000831;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #248bf5;
   width: 20px;
   subcontrol-position: right;
   subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
   border: 2px transparent #656568;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #000831;
   height: 20px;
   subcontrol-position: bottom;
   subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:pressed {
   border: 2px transparent #000831;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #248bf5;
   height: 20px;
   subcontrol-position: bottom;
   subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
   border: 2px transparent #656568;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #000831;
   width: 20px;
   subcontrol-position: left;
   subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:pressed {
   border: 2px transparent #000831;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #248bf5;
   width: 20px;
   subcontrol-position: left;
   subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
   border: 2px transparent #656568;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #000831;
   height: 20px;
   subcontrol-position: top;
   subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:pressed {
   border: 2px transparent #000831;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #248bf5;
   height: 20px;
   subcontrol-position: top;
   subcontrol-origin: margin;
}

QScrollBar::left-arrow:horizontal {
   border: 1px transparent #000831;
   border-top-left-radius: 1px;
   border-bottom-left-radius:1px;
   width: 6px;
   height: 6px;
   background: #656568;
}

QScrollBar::right-arrow:horizontal {
   border: 1px transparent #000831;
   border-top-right-radius: 1px;
   border-bottom-right-radius: 1px;
   width: 6px;
   height: 6px;
   background: #656568;
}

QScrollBar::up-arrow:vertical {
   border: 1px transparent #000831;
   border-top-left-radius: 1px;
   border-top-right-radius: 1px;
   width: 6px;
   height: 6px;
   background: #656568;
}

QScrollBar::down-arrow:vertical {
   border: 1px transparent #000831;
   border-bottom-left-radius: 1px;
   border-bottom-right-radius: 1px;
   width: 6px;
   height: 6px;
   background: #656568;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
   background: #000831;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
   background: #000831;
}