/*
Aqua Style Sheet for QT Applications
Author: Roberto Gallotta
Original Author: Jaime A. Quiroga P.
Company: GTRONICK
Last updated: 22/01/2019, 07:55.
Available at: https://github.com/GTRONICK/QSS/blob/master/Aqua.qss
*/

QMainWindow {
	background-color:#ececec;
}

QDialog {
    background-color: #ececec;
}

QWidget[conversation="yes"] {
    background-color: #ececec;
}

QWidget[attacks_grid="yes"] {
    background-color: #ececec;
}

QLabel {
	background-color: #ececec;
	color: #1e1d23;
}

QLabel[messageType="me"] {
    border: 1px solid #e5e5ea;
    background-color: #248bf5;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 5px 2px 50px;
}

QLabel[messageType="them"] {
    border: 1px solid #e5e5ea;
    background-color: #e5e5ea;
    color: #1e1d23;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 50px 2px 5px;
}

QLabel[messageType="placeholder"] {
    color: #1e1d23;
    font-style: italic;
    margin: 2px 5px 2px 5px;
}

QProgressBar {
    text-align: center;
    color: #000;
    border-width: 1px;
    border-radius: 10px;
    border-color: #1e1d23;
    border-style: inset;
    background-color: #e5e5ea;
}

QProgressBar::chunk {
    background-color: #248bf5;
    border-radius: 5px;
}

QColorDialog {
    background-color: #e5e5ea;
}

QTextEdit {
	background-color: #e5e5ea;
    color: #1e1d23;
}

QGroupBox {
    color: #000;
}

QScrollArea {
    border: transparent;
}

QToolTip {
   background-color: #e5e5ea;
   color: #000;
   border: 1px solid #e5e5ea;
}

QPlainTextEdit {
	background-color: #e5e5ea;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-width: 1px;
    color: #1e1d23;
}

QPushButton {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-width: 1px;
    border-style: solid;
    color: #1e1d23;
    padding: 2px;
    background-color: #e5e5ea;
}

QPushButton::default {
    border-style: inset;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #248bf5;
    border-width: 1px;
    color: #1e1d23;
    padding: 2px;
    background-color: #e5e5ea;
}

QPushButton:hover {
    border-style: solid;
    border-top-color: #248bf5;
    border-right-color: #248bf5;
    border-left-color: #248bf5;
    border-bottom-color: #248bf5;
    border-bottom-width: 1px;
    border-style: solid;
    color: #000000;
    padding-bottom: 2px;
    background-color: #e5e5ea;
}

QPushButton:pressed {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #37efba;
    border-bottom-width: 2px;
    border-style: solid;
    color: #248bf5;
    padding-bottom: 1px;
    background-color: #e5e5ea;
}

QPushButton:disabled {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #808086;
    border-bottom-width: 2px;
    border-style: solid;
    color: #808086;
    padding-bottom: 1px;
    background-color: #e5e5ea;
}

QLineEdit {
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(58, 58, 58);
    border-style: inset;
    padding: 0 8px;
    color: #1e1d23;
    background: #e5e5ea;
}

QLabel {
    color: #1e1d23;
}

QMenuBar {
    background-color: #e5e5ea;
}

QMenuBar::item {
    color: #1e1d23;
    padding: 1px 4px;
    background: #e5e5ea;
}

QMenuBar::item:selected {
    background: #e5e5ea;
    color: #000000;
}

QMenu::item:selected {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #248bf5;
    border-bottom-color: transparent;
    border-left-width: 2px;
    color: #000000;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
    background-color: #e5e5ea;
}

QMenu::item {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    border-style: solid;
    color: #1e1d23;
    padding-left: 17px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 7px;
    background-color: #e5e5ea;
}

QMenu {
    background-color: #e5e5ea;
}

QCheckBox {
    color: #1e1d23;
    padding: 2px;
}

QCheckBox:disabled {
    color: #808086;
    padding: 2px;
}

QCheckBox:hover {
    border-radius: 4px;
    border-style: solid;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-width: 1px;
    border-color: rgb(87, 97, 106);
    background-color: #e5e5ea;
}

QCheckBox::indicator:checked {

    height: 10px;
    width: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #248bf5;
    color: #1e1d23;
    background-color: #248bf5;
}

QCheckBox::indicator:unchecked {

    height: 10px;
    width: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #248bf5;
    color: #1e1d23;
    background-color: transparent;
}

QStatusBar {
    color: #027f7f;
}

QSpinBox {
    color: #1e1d23;
    background-color: #e5e5ea;
}

QDoubleSpinBox {
    color: #1e1d23;
    background-color: #e5e5ea;
}

QComboBox {
    color: #1e1d23;
    background: #e5e5ea;
}

QComboBox:editable {
    background: #e5e5ea;
    color: #1e1d23;
}

QComboBox QAbstractItemView {
    color: #1e1d23;
    background: #e5e5ea;
}

QScrollBar:horizontal {
	max-height: 20px;
	border: 1px transparent #a8a8a8;
	margin: 0px 20px 0px 20px;
}

QScrollBar:vertical {
	max-width: 20px;
	border: 1px transparent #a8a8a8;
	margin: 20px 0px 20px 0px;
}

QScrollBar::handle:horizontal {
	background: #e5e5ea;
	border-style: solid;
	border-width: 1px;
	border-color: #a8a8a8;
	border-radius: 2px;
	min-width: 25px;
}

QScrollBar::handle:horizontal:hover {
	background: #e5e5ea;
	border-style: solid;
	border-width: 1px;
	border-color: #a8a8a8;
	border-radius: 2px;
	min-width: 25px;
}

QScrollBar::handle:vertical {
	background: #e5e5ea;
	border-style: solid;
	border-width: 1px;
	border-color: #a8a8a8;
	border-radius: 2px;
	min-height: 25px;
}

QScrollBar::handle:vertical:hover {
	background: #e5e5ea;
	border-style: solid;
	border-width: 1px;
	border-color: #a8a8a8;
	border-radius: 2px;
	min-height: 25px;
}

QScrollBar::add-line:horizontal {
   border: 2px transparent #e5e5ea;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #a8a8a8;
   width: 20px;
   subcontrol-position: right;
   subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal:pressed {
   border: 2px transparent #a8a8a8;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #248bf5;
   width: 20px;
   subcontrol-position: right;
   subcontrol-origin: margin;
}
QScrollBar::add-line:vertical {
   border: 2px transparent #e5e5ea;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #a8a8a8;
   height: 20px;
   subcontrol-position: bottom;
   subcontrol-origin: margin;
}
QScrollBar::add-line:vertical:pressed {
   border: 2px transparent #a8a8a8;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #248bf5;
   height: 20px;
   subcontrol-position: bottom;
   subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
   border: 2px transparent #e5e5ea;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #a8a8a8;
   width: 20px;
   subcontrol-position: left;
   subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal:pressed {
   border: 2px transparent #a8a8a8;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #248bf5;
   width: 20px;
   subcontrol-position: left;
   subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
   border: 2px transparent #e5e5ea;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #a8a8a8;
   height: 20px;
   subcontrol-position: top;
   subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical:pressed {
   border: 2px transparent #a8a8a8;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   background: #248bf5;
   height: 20px;
   subcontrol-position: top;
   subcontrol-origin: margin;
}
QScrollBar::left-arrow:horizontal {
   border: 1px transparent #a8a8a8;
   border-top-left-radius: 1px;
   border-bottom-left-radius:1px;
   width: 6px;
   height: 6px;
   background: #e5e5ea;
}
QScrollBar::right-arrow:horizontal {
   border: 1px transparent #a8a8a8;
   border-top-right-radius: 1px;
   border-bottom-right-radius: 1px;
   width: 6px;
   height: 6px;
   background: #e5e5ea;
}
QScrollBar::up-arrow:vertical {
   border: 1px transparent #a8a8a8;
   border-top-left-radius: 1px;
   border-top-right-radius: 1px;
   width: 6px;
   height: 6px;
   background: #e5e5ea;
}
QScrollBar::down-arrow:vertical {
   border: 1px transparent #a8a8a8;
   border-bottom-left-radius: 1px;
   border-bottom-right-radius: 1px;
   width: 6px;
   height: 6px;
   background: #e5e5ea;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
   background: #a8a8a8;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
   background: #a8a8a8;
}